#nav { }
#nav ul{ list-style-type:none; margin:0; padding:0; }
#nav li { float:left; padding:0; margin:0;}
#nav li a { width:150px; display:block; text-align:center; color:#000; height:20px; line-height:20px; text-decoration:none; font-size:80%; border:1px solid #ccc; }
#nav li a:hover { color:#00f; }
#nav ul ul { display:none; position:absolute; z-index:999; }
#nav li li { float:none; }
#nav li li a { background:#EBE7E6!important; text-align:left; height:auto; line-height:1; width:auto; padding:4px 20px 4px 22px; border-left:1px solid #D0D0D0; border-top:none; border-bottom:none; margin-right:0; }
* html li li { display:inline; } /* IE6 Bugfix... */

#nav li.split {
    border-top: 1px solid #000;
    border-color: #666;
}
#content { padding-top: 24px }
